/*basics styles */
.textGrayish {
    color: #858fad;
  }
  
  .smallText {
    font-size: 13px;
  }
  
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    background-color: #F9FAFF;
    height: 100vh;
    position: relative;
    font-family: 'Manrope', sans-serif;
  }
  
  body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 100%;
    z-index: -3;
    background: #e6edff;
    border-radius: 0 0 0 50%;
  }
  
  .containerSite {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  header {
    height: 25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  
  header::after {
    content: url("./cercles.svg");
    position: absolute;
    height: auto;
    width: auto;
    z-index: -1;
  }
  
  header h1 {
    font-size: 1.3em;
    font-weight: 900;
    color: #293356;
    text-align: center;
    margin: 1em 0;
  }
  
  header .text {
    text-align: center;
    line-height: 150%;
  }
  
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 1.4em;
    max-width: 800px;
    margin: auto;
  }
  
  main {
    /* card */
  }
  
  main .content {
    padding: 0 1.4em 1.4em;
  }
  
  main .card {
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 20px 0px #e0e9ff;
            box-shadow: 0px 0px 20px 0px #e0e9ff;
    padding: 2em 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
  }
  
  @media screen and (min-width: 992px) {
    main .card {
      padding: 3em;
    }
  }
  
  main h2, main .containerProgressBar, main .price, main .containerPrice, main .wrapBilling, main .callToAction {
    text-align: center;
  }
  
  main h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
  }
  
  main .containerProgressBar .progressContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  @media screen and (max-width: 991px) {
    main .containerProgressBar .progressContent {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      row-gap: 1em;
    }
  }
  
  main .containerProgressBar .styleRange {
    -webkit-appearance: none;
    width: 100%;
    cursor: -webkit-grab;
    cursor: grab;
    margin: 2em 0;
    border-radius: 20px;
    outline: none;
    height: 7px;
    background: #10d5c2;
  }
  
  main .containerProgressBar .styleRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #10d5c2;
    position: relative;
  }
  
  main .containerProgressBar .styleRange::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #a5f3eb;
    cursor: pointer;
  }
  
  main .priceNumber {
    font-size: 1.8em;
    font-weight: 900;
  }
  
  main .desktopPrice {
    display: none;
  }
  
  main .mobilePrice {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  @media screen and (min-width: 991px) {
    main .mobilePrice {
      display: none;
    }
    main .desktopPrice {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  
  main .wrapBilling {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: .7em;
            column-gap: .7em;
    /* switch button */
  }
  
  main .wrapBilling .monthlyBilling {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: .7em;
            column-gap: .7em;
  }
  
  main .wrapBilling .switch {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 25px;
  }
  
  main .wrapBilling .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  main .wrapBilling .switch .switchCheckbox {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 40px;
    -webkit-transition: .5s;
    transition: .5s;
    background: #e0e9ff;
    cursor: pointer;
  }
  
  main .wrapBilling .switch .switchCheckbox::before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    border-radius: 50%;
    left: 5px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    -webkit-transition: .5s;
    transition: .5s;
    background: #ffffff;
  }
  
  main .wrapBilling .switch input:checked + .switchCheckbox:before {
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
  }
  
  @media screen and (min-width: 992px) {
    main .wrapBilling .switch input:hover + .switchCheckbox {
      background: #a5f3eb;
    }
  }
  
  main .wrapBilling .switch input:checked + .switchCheckbox {
    background: #10d5c2;
  }
  
  main .wrapBilling .monthlyBilling:nth-child(2)::after {
    content: "-25%";
    font-size: 10px;
    font-weight: 900;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    height: 20px;
    width: 45px;
    right: 0;
    background: #feece7;
    color: #ff8c66;
    border-radius: 20px;
  }
  
  main .line {
    width: 100%;
    border-bottom: 1px solid #e6edff;
  }
  
  main .wrapAdvantagesCta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  @media screen and (min-width: 992px) {
    main .wrapAdvantagesCta {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
  }
  
  main .wrapAdvantagesCta .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1.5em 0;
  }
  
  main .wrapAdvantagesCta .advantages::before {
    content: url("./check.svg");
    position: relative;
    left: 0;
    display: block;
    height: 10px;
    width: 10px;
    margin-right: 1em;
  }
  
  main .callToAction {
    background: #293356;
    color: #bdccff;
    font-weight: 600;
    height: 45px;
    width: 180px;
    border: none;
    border-radius: 25px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  
  footer {
    padding: .5em;
  }
  
  footer .smallText {
    text-align: center;
    color: #bdccff;
  }
  
  footer a {
    text-decoration: none;
    color: #293356;
  }
  /*# sourceMappingURL=styles.css.map */